<label class="inline-flex items-center cursor-pointer z-20" id="dark-mode">
  <span class="me-3 text-sm font-medium text-gray-900 dark:text-gray-300">Dark mode</span>
  <input type="checkbox" value="" class="sr-only peer" />
  <div
    class="relative w-11 h-6 bg-red-300 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-amber-400"
  >
  </div>
</label>

<script>
  const darkMode = document.getElementById('dark-mode');
  const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');

  if (darkMode) {
    const input = darkMode.querySelector('input');
    if (
      localStorage.getItem('theme') === 'dark' ||
      (!('theme' in localStorage) && prefersDarkScheme.matches)
    ) {
      document.documentElement.classList.add('dark');
      if (input) input.checked = true;
    }

    darkMode.addEventListener('change', () => {
      if (document.documentElement.classList.contains('dark')) {
        document.documentElement.classList.remove('dark');
        localStorage.setItem('theme', 'light');
      } else {
        document.documentElement.classList.add('dark');
        localStorage.setItem('theme', 'dark');
      }
    });
  }
</script>
